.produtos {
  padding: 20px;
}

.table {
  background: white;
  padding: 20px;
  border-radius: 16px;
  height: 550px;
  overflow-y: scroll;
  border-collapse: collapse;
}

table {
  width: 100%;
}

th {
  text-align: left;
  padding-bottom: 15px;
  color: #6b7280;
}

td {
  padding: 12px 0;
  border-top: 1px solid #eee;
}

.produto {
  display: flex;
  align-items: center;
  gap: 10px;
}

.produto img {
  width: 40px;
  height: 40px;
  border-radius: 8px;
}

.produto span {
  font-size: 12px;
  color: gray;
}

.tag {
  background: #f3f4f6;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 12px;
}

/* STATUS */

.status {
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 12px;
}

.status.ok, .status.entrada {
  background: #dcfce7;
  color: #16a34a;
}

.status.baixo {
  background: #fef9c3;
  color: #ca8a04;
}

.status.esgotado, .status.saida{
  background: #fee2e2;
  color: #dc2626;
}

.acoes button {
  margin-right: 5px;
  background: #f3f4f6;
  border: none;
  padding: 6px;
  border-radius: 8px;
  cursor: pointer;
}

.acoes .delete {
  color: red;
}
