.produtos {
  padding: 20px;
}

.table {
  background: white;

  padding: 20px;

  border-radius: 16px;

  height: 607px;

  overflow-y: auto;
  overflow-x: auto;

  border-collapse: collapse;

  width: 100%;
}

/* scrollbar bonita */

.table::-webkit-scrollbar{
  height: 8px;
  width: 8px;
}

.table::-webkit-scrollbar-thumb{
  background: #d1d5db;
  border-radius: 20px;
}

table {
  width: 100%;
  min-width: 850px;
}

th {
  text-align: left;
  padding-bottom: 15px;
  color: #6b7280;
}

td {
  padding: 12px 0;
  border-top: 1px solid #eee;
}

.produto {
  display: flex;
  align-items: center;
  gap: 10px;
}

.produto img {
  width: 40px;
  height: 40px;
  border-radius: 8px;
}

.produto span {
  font-size: 12px;
  color: gray;
}

.tag {
  background: #f3f4f6;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 12px;
}

/* STATUS */

.status {
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 12px;
}

.status.ok, .status.entrada {
  background: #dcfce7;
  color: #16a34a;
}

.status.baixo {
  background: #fef9c3;
  color: #ca8a04;
}

.status.esgotado, .status.saida{
  background: #fee2e2;
  color: #dc2626;
}

.acoes button {
  margin-right: 5px;
  background: #f3f4f6;
  border: none;
  padding: 6px;
  border-radius: 8px;
  cursor: pointer;
}

.acoes .delete {
  color: red;
}

@media (max-width: 768px){

  .produtos{
    padding: 10px;
  }

  .table{
    padding: 15px;
    height: auto;
    max-height: 70vh;
  }

  th{
    font-size: 13px;
  }

  td{
    font-size: 13px;
  }

  .produto img{
    width: 35px;
    height: 35px;
  }

  .acoes button{
    padding: 5px;
  }
}