.horizontalbar{
    width: 100%;
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0px 50px;
    background-color: white;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}
.horizontalbar >div> h1{
    font-size: 25px;
}
.horizontalbar >div> svg{
    font-size: 22px;
}
